.App {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.ingredients{
  width: 40%;
  border: 3px solid #c7c7c7;
  padding: 15px 25px;
  align-items: center;
}
.ingrImage{
  width: 100px;
  height: 100px;
  display: inline-block;
}
.ingrname, .ingrcount{
  display: inline-block;
  margin: 15px;
}
.oneingr{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.removebtn{
  padding: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  outline: none;
}
.NewBurger{
  width: 50%;
  border: 3px solid #c7c7c7;
  padding: 15px 25px;

}
.price{
  font-size: 25px;
  margin: 15px 0;
  font-weight: bold;
}
